/* Phone */
.Container {
  height: 90%;
  width: 90vw;
  max-width: 370px;
  position: fixed;
  bottom: 30px;
  flex-direction: column;
  gap: 3vh;
}
.LoginForm,
.RegistrationForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
}
.NewAccount {
  flex-direction: column;
}

/* Tablet */
@media (min-width: 576px) {
}
/* Laptop */
@media (min-width: 768px) {
}
/* Desktop */
@media (min-width: 1200px) {
}
